VITE_SUPABASE_URL=https://ghbnpaamyxydvkfezefg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdoYm5wYWFteXh5ZHZrZmV6ZWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NDUzMjIsImV4cCI6MjA1ODEyMTMyMn0.QYYLzLMpH5lpNsgVkr7ovE2nshnjAcKTCVtILeTHRf4